#calc{
	position: relative;
	width: 300px;
	border: 2px outset gray;
	border-radius: 4px;
	border-width: 10px;
}

input[type=button]{
	background: #5c42f4;
	width: 20%;
	font-size: 40px;
	font-weight: 500;
	margin: 2%;
	border-radius: 4px;
}

input[type=text]{
	position: relative;
	display: block;
	width: 90%;
	margin: 5px auto;
	font-size: 20px;
	border: 2px inset #f442df;
	border-width: 3px;
}

body{
	background-image: url("math.jpg");
	background-size: cover;
	background-attachment: fixed;
}

#center {
    margin: auto;
    width: 20%;
    height: 100%;
    padding-top: 200px;


}

#name{
	position: relative;
	width: 280px;
	border-radius: 4px;
	border-width: 10px;
	color: #f442df;
	text-align: center;
	font-family: Gill Sans Extrabold, sans-serif;
}